## 특정 경로에 있는 파일의 목록을 로드

1. 일반적으로 방법 -> 상대경로, 절대경로를 이용해서 파일을 하나씩 로드 
2. 특정 경로에 있는 파일의 목록을 기준으로 데이터 로드
    
    -os 라이브러리 이용하는 방법
    
    -glob 라이브러리 이용하는 방법 
3. 파일의 목록을 기준으로 데이터를 for문을 이용해서 로드

In [55]:
import os
import glob
import pandas as pd

In [23]:
## 폴더 안에 있는 2017 폴더에 있는 데이터들을 로드

# os 라이브러리를 이용하여 파일의 목록을 불러온다.
# 목록(list)+ 파일의 목록을 보는 명령어(dir)
os.listdir("../../csv/2017")

FileNotFoundError: [WinError 3] 지정된 경로를 찾을 수 없습니다: '../../csv/2017'

In [56]:
# 파일 목록을 로드할 경로를 변수에 저장
file_path="../../csv/2017/"
file_list=os.listdir(file_path)
file_list

FileNotFoundError: [WinError 3] 지정된 경로를 찾을 수 없습니다: '../../csv/2017/'

In [ ]:
#pd.read_csv(
file_path+file_list[0]
    #)

'../../csv/2017/201701_expense_list.csv'

In [ ]:
pd.read_csv(file_path+file_list[0])

In [ ]:
result=pd.DataFrame()
result

Empty DataFrame
Columns: []
Index: []

In [ ]:
for file in file_list:
    df= pd.read_csv(file_path+file)
    # result와 df를 유니언 결합하여 result 담아준다. 
    result=pd.concat([result, df], axis=0, ignore_index=True)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [ ]:
## csv 폴더 안에 있는 2019폴더에 파일들을 모두 로드하여
## 하나의 데이터프레임으로 결합
result_2019=pd.DataFrame

In [ ]:
os.listdir("../../csv/2019")

['201901_expense_list.json',
 '201902_expense_list.json',
 '201903_expense_list.json',
 '201904_expense_list.json',
 '201905_expense_list.json',
 '201906_expense_list.json',
 '201907_expense_list.json',
 '201908_expense_list.json',
 '201909_expense_list.json',
 '201910_expense_list.json',
 '201911_expense_list.json',
 '201912_expense_list.json']

In [ ]:
# 파일 목록을 로드할 경로를 변수에 저장
file_path="../../csv/2019/"
file_list=os.listdir(file_path)
file_list

['201901_expense_list.json',
 '201902_expense_list.json',
 '201903_expense_list.json',
 '201904_expense_list.json',
 '201905_expense_list.json',
 '201906_expense_list.json',
 '201907_expense_list.json',
 '201908_expense_list.json',
 '201909_expense_list.json',
 '201910_expense_list.json',
 '201911_expense_list.json',
 '201912_expense_list.json']

In [ ]:
file_path+file_list[0]

'../../csv/2019/201901_expense_list.json'

In [ ]:
# json 확장자 파일을 로드
# read_json()
for file in file_list:
    df=pd.read_json(file_path+file_list[0])
    result_2019=pd.concat([result_2019, df], axis=0, ignore_index=True)

NameError: name 'result_2019' is not defined

In [ ]:
result=pd.DataFrame()
result

Empty DataFrame
Columns: []
Index: []

In [ ]:
for file in file_list:
    df= pd.read_json(file_path+file)
    # result와 df를 유니언 결합하여 result 담아준다. 
    result=pd.concat([result, df], axis=0, ignore_index=True)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74207 entries, 0 to 74206
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.3+ MB

In [ ]:
os.listdir("../../csv/2020")

['202001_expense_list.xlsx',
 '202002_expense_list.xlsx',
 '202003_expense_list.xlsx',
 '202004_expense_list.xlsx',
 '202005_expense_list.xlsx',
 '202006_expense_list.xlsx',
 '202007_expense_list.xlsx',
 '202008_expense_list.xlsx',
 '202009_expense_list.xlsx',
 '202010_expense_list.xlsx',
 '202011_expense_list.xlsx',
 '202012_expense_list.xlsx']

In [ ]:
file_path="../../csv/2020/"
file_list=os.listdir(file_path)
file_list

['202001_expense_list.xlsx',
 '202002_expense_list.xlsx',
 '202003_expense_list.xlsx',
 '202004_expense_list.xlsx',
 '202005_expense_list.xlsx',
 '202006_expense_list.xlsx',
 '202007_expense_list.xlsx',
 '202008_expense_list.xlsx',
 '202009_expense_list.xlsx',
 '202010_expense_list.xlsx',
 '202011_expense_list.xlsx',
 '202012_expense_list.xlsx']

In [ ]:
file_path+file_list[0]

'../../csv/2020/202001_expense_list.xlsx'

In [ ]:
pd.read_excel(file_path+file_list[0])

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,21789676,2020년 1월 사업소 서울식물원 시설운영과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21789676,사업소,서울식물원,시설운영과,NaN,NaN,2020,1,NaN,NaN,NaN,푸른도시국 서울식물원 시설운영과,2020-01-22 10:25,코코호도마곡나루역점(강서구 마곡중앙5로 6),부서 전출직원 간담회 비용,이형선 외 3인,카드,30000
1,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-29 08:55,"㈜한국문화진흥(강남구 강남대로 636, 두원빌딩2층)",2020년도 1월 생일자 격려상품 구매,1월 직원 생일자 12명,카드,216720
2,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-28 12:05,스시사도(영등포구 여의대방로23길 20),2020년 상반기 학교아리수 음수대 감면 간담회 경비지급,"박영준,이상봉,이재욱,이대영,김춘근,김근태,박화준,박병국,조승용,전윤수",카드,124000
3,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 11:59,올갱이나라(영등포구 대방천로 234),2020년 설연휴기간 급수대책 및 수질관리 간담회 경비지급,"김지형,신민철,서영식,최신,이혜숙,여종순",카드,48000
4,21762080,2020년 1월 사업소 상수도사업본부 남부수도사업소 행정지원과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/21762080,사업소,상수도사업본부,남부수도사업소,행정지원과,NaN,2020,1,NaN,NaN,NaN,남부수도사업소 행정지원과,2020-01-23 14:45,두드림유통(동작구 보라매로19길 8),2020년 민원실 직원 격려 물품구매 경비지급,해당사항없음,카드,63310
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5277,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 19:57,곰국시집(중구 무교로 24),박물관도시 서울 추진회의 결과 검토 간담회,시민소통기획관 외 3명,제로페이,60000
5278,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 13:04,세림(중구 을지로),시정 협력 관련 유관기관 업무협의 간담회,대외협력보좌관 외 2명,카드,51000
5279,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-13 12:20,더미시청점(중구 남대문로9길),제로페이 추진경과 검토 간담회,시민소통담당관 외 3명,제로페이,40000
5280,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 22:20,통인스윗팩토리(종로구 필운대로),시정 운영 관련 유관기관 업무협의 간담회,정무비서관 외 2명,카드,51000
5281,19740729,2020년 1월 서울시본청 시민소통기획관 시민소통담당관 업무추진비 - 기관운영 시책추진,http://opengov.seoul.go.kr/public/19740729,서울시본청,시민소통기획관,시민소통담당관,NaN,NaN,2020,1,NaN,NaN,NaN,시민소통담당관,2020-01-10 21:05,(주)에프아이티시스템(종로구 누하동),시정 소통협력을 위한 유관기관 의견수렴 간담회,정무수석 외 6명,카드,162000

In [ ]:
result=pd.DataFrame()
result

Empty DataFrame
Columns: []
Index: []

In [ ]:
for file in file_list:
    df= pd.read_excel(file_path+file)
   
    result=pd.concat([result, df], axis=0, ignore_index=True)

In [ ]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70862 entries, 0 to 70861
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70862 non-null  int64
 1   title              70862 non-null  object
 2   url                70862 non-null  object
 3   dept_nm_lvl_1      70862 non-null  object
 4   dept_nm_lvl_2      70862 non-null  object
 5   dept_nm_lvl_3      55593 non-null  object
 6   dept_nm_lvl_4      18992 non-null  object
 7   dept_nm_lvl_5      1601 non-null   object
 8   exec_yr            70862 non-null  int64
 9   exec_month         70862 non-null  int64
 10  expense_budget     1823 non-null   float64
 11  expense_execution  1338 non-null   float64
 12  category           2123 non-null   object
 13  dept_nm_full       70862 non-null  object
 14  exec_dt            70862 non-null  object
 15  exec_loc           70278 non-null  object
 16  exec_purpose       70862 non-null  object
 17  target_nm          70488 non-null  object
 18  payment_method     70862 non-null  object
 19  exec_amount        70862 non-null  int64
 20  bimok              283 non-null    object
dtypes: float64(2), int64(4), object(15)
memory usage: 11.4+ MB

In [ ]:
os.listdir("../../csv/2021")

['202101_expense_list.csv',
 '202101_expense_list.json',
 '202101_expense_list.xlsx',
 '202101_expense_list.xml',
 '202102_expense_list.csv',
 '202102_expense_list.json',
 '202102_expense_list.xlsx',
 '202102_expense_list.xml',
 '202103_expense_list.csv',
 '202103_expense_list.json',
 '202103_expense_list.xlsx',
 '202103_expense_list.xml',
 '202104_expense_list.csv',
 '202104_expense_list.json',
 '202104_expense_list.xlsx',
 '202104_expense_list.xml',
 '202105_expense_list.csv',
 '202105_expense_list.json',
 '202105_expense_list.xlsx',
 '202105_expense_list.xml',
 '202106_expense_list.csv',
 '202106_expense_list.json',
 '202106_expense_list.xlsx',
 '202106_expense_list.xml',
 '202107_expense_list.csv',
 '202107_expense_list.json',
 '202107_expense_list.xlsx',
 '202107_expense_list.xml',
 '202108_expense_list.csv',
 '202108_expense_list.json',
 '202108_expense_list.xlsx',
 '202108_expense_list.xml',
 '202109_expense_list.csv',
 '202109_expense_list.json',
 '202109_expense_list.xlsx',
 '202109_expense_list.xml',
 '202110_expense_list.csv',
 '202110_expense_list.json',
 '202110_expense_list.xlsx',
 '202110_expense_list.xml',
 '202111_expense_list.csv',
 '202111_expense_list.json',
 '202111_expense_list.xlsx',
 '202111_expense_list.xml',
 '202112_expense_list.csv',
 '202112_expense_list.json',
 '202112_expense_list.xlsx',
 '202112_expense_list.xml']

In [ ]:
file_path="../../csv/2021/"
file_list=os.listdir(file_path)
file_list

In [ ]:
file_list[0].split('.')[-1]=='csv'

False

In [ ]:
file_list[0].endswith('csv')

True

In [ ]:
file_name, file_end = os.path.splitext(file_list[0])

In [ ]:
file_end

'.csv'

In [ ]:
result_2021=pd.DataFrame()

# 확장자를 선택해서 해당하는 확장자만 result_2021에 결합
for file in file_list:
    #excel 파일인 경우에만 result_2021에 결합
    if file.split(".")[-1] in['xlsx', 'xls']:
        df=pd.read_excel(file_path + file)
        result_2021 = pd.concat([result_2021, df], axis=0, ignore_index=True)

In [ ]:
globals()["a1"] =10
print("al")

al

In [ ]:
## 2021 폴더에 있는 파일들을 각각 다른 변수에 저장
file_path="../../csv/2021/"
file_list=os.listdir(file_path)

for file in file_list:
    #사용할 변수의 이름 
    name, end= os.path.splitext(file)
    #print(end[1:])
    #print(end.lstrip('.'))
    print(end.replace('.',''))
    end = end[1:]
    if end =='csv':
       df=pd.read_csv(file_path+file)
    elif end=='json':
       df= pd.read_json(file_path+file)
    elif end=='xml':
       df= pd.read_xml(file_path+file)
    elif end in['xlsx', 'xls']:
       df= pd.read_excel(file_path+file)
    else:
       continue
    globals()[f"{name}_{end}"]= df.copy()

csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml
csv
json
xlsx
xml

In [ ]:
#lxml error 발생시
!pip install lxml

Collecting lxml
  Obtaining dependency information for lxml from https://files.pythonhosted.org/packages/02/59/e1fbe2514d8ab39977b72e77f98d0fa49772f61e938049baf151b307a4f0/lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata
  Downloading lxml-5.1.0-cp312-cp312-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.1.0-cp312-cp312-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
   -- ------------------------------------- 0.2/3.9 MB 3.1 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 15.6 MB/s eta 0:00:01
   ------------------------------------- -- 3.6/3.9 MB 23.2 MB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 17.8 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.1.0

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
globals()[f"{name}_{end}"]= df.copy()

In [ ]:
result_2021.globals()

In [ ]:
file_path+file_list[1]

'../../csv/2021/202101_expense_list.json'

In [ ]:
file_path+file_list[2]

'../../csv/2021/202101_expense_list.xlsx'

In [ ]:
pd.read_csv(file_path+file_list[0])

In [ ]:
pd.read_excel(file_path+file_list[2])

In [ ]:
## 지정된 경로에 파일들을 하나의 데이터프레임으로
# 결합하여 되돌려주는 함수 생성 
# 매개변수? ->  경로, 확장자명
def data_load(_path, _end='csv'):
    #_path: 파일의 경로
    #_end: 파일의 확장자명

    # 유저가 입력한 경로를 이용하여 파일의 리스트를 변수에 저장
    file_list=os.listdir(_path)
    # 비어있는 데이터프레임을 생성
    result=pd.DataFrame()
    _path=_path+'/'    
    for file in file_list:
        #file -> 파일명
        #파일명의 확장자가 유저가 입력한 확장자와 같다면
        if file.endswith(_end):
            if _end =='csv':
                df=pd.read_csv(_path+file)
            elif _end=='json':
                df= pd. read_json(_path+file)
            elif _end=='xml':
                df=pd.read_xml(_path+ file)
            elif _end in ['xlsx', 'xls']:
                df=pd.read_excel(_path+file)
            else:
                return'지원하는 확장자가 아닙니다.'     
            # df를 result에 유니언 결합
            result =pd.concat([result, df],
                                axis=0, ignore_index=True)    
        return result

In [ ]:
data_load(r"C:\Users\qhwjd\OneDrive\문서\국비 마케팅 실습\csv\2021")

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,...,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount,bimok
0,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 관리과,2021-01-25 00:00,NaN,소속직원 경조사비,"김광옥, 김용성",현금,100000,NaN
1,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-22 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,90000,NaN
2,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 시설보수과,2021-01-21 00:00,떡시루,소속직원 송별떡,시설보수과장외 27명,카드,80000,NaN
3,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,서울시청매점,운영과 다과구매-전출직원선물,NaN,제로페이,48000,NaN
4,22249566,2021년 1월 사업소 물재생센터 중랑물재생센터 업무추진비 - 전체,http://opengov.seoul.go.kr/public/22249566,사업소,물재생센터,중랑물재생센터,NaN,NaN,2021,1,...,NaN,NaN,중랑물재생센터 운영과,2021-01-21 00:00,복시루,운영과 다과구매-전출직원선물,NaN,카드,75000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4873,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-06 12:33,곰비임비(중구 세종대로11길 45),중소형 민간건축공사장 안전대책 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,35000,NaN
4874,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-05 18:25,본죽&비빔밥(중구 세종대로 80),소규모 노후 건축물 안전점검 관련 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,21000,NaN
4875,22241154,2021년 1월 서울시본청 주택건축본부 지역건축안전센터 업무추진비 - 시책추진,http://opengov.seoul.go.kr/public/22241154,서울시본청,주택건축본부,지역건축안전센터,NaN,NaN,2021,1,...,NaN,NaN,주택건축본부 지역건축안전센터,2021-01-04 12:35,크레이지후라이(중구 서소문로 124),겨울방학 아르바이트 대학생 격려 간담회 비용 지급,지역건축안전센터장 외 2명,제로페이,40000,NaN
4876,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-27 15:19,가메골에프엔비㈜(중구 남대문시장4길 42),부서 직원 교육 및 신년간담회,요금과 직원 20명,카드,64000,NaN
4877,22241159,2021년 1월 사업소 상수도사업본부 중부수도사업소 요금과 업무추진비 - 부서운영,http://opengov.seoul.go.kr/public/22241159,사업소,상수도사업본부,중부수도사업소,요금과,NaN,2021,1,...,NaN,NaN,중부수도 요금과,2021-01-22 00:00,추어탕(중구 다산로 75 3층),간부 신년간담회,소장외 3명,카드,36000,NaN

In [ ]:
data_load('../../csv/2021/','json')

Empty DataFrame
Columns: []
Index: []

In [59]:
# os 라이브러리를 이용하여 파일의 목록을 불러온다.
# 목록(list)+ 파일의 목록을 보는 명령어(dir)
os.listdir("../../csv/2021")
## glob 라이브러리 이용하여 파일의 목록
print(
    glob.glob("../../csv/2021/*.csv")
)

['../../csv/2021\\202101_expense_list.csv', '../../csv/2021\\202102_expense_list.csv', '../../csv/2021\\202103_expense_list.csv', '../../csv/2021\\202104_expense_list.csv', '../../csv/2021\\202105_expense_list.csv', '../../csv/2021\\202106_expense_list.csv', '../../csv/2021\\202107_expense_list.csv', '../../csv/2021\\202108_expense_list.csv', '../../csv/2021\\202109_expense_list.csv', '../../csv/2021\\202110_expense_list.csv', '../../csv/2021\\202111_expense_list.csv', '../../csv/2021\\202112_expense_list.csv']

In [60]:
file_list=glob.glob("../../csv/num_3/*.csv")
file_list

['../../csv/num_3\\campaign_master.csv',
 '../../csv/num_3\\class_master.csv',
 '../../csv/num_3\\customer_master.csv',
 '../../csv/num_3\\use_log.csv']

In [67]:
for file in file_list:
    print(file)
    df=pd.read_csv(file)
    ## 경로와 파일을 나눠준다.
    folder, name= os.path.split(file)
    print(folder, name)
    head, tail=os.path.splitext(name)
    print(head)
    globals()[f"{head}"]=pd.read_csv(file)
    ##첫번째 반복:head->campaign_master, tail-> .csv
    ##          f"{head}"->"campaign_master, globals()['campaign_master']
    ##          campaign_master=pd.read_csv("../../csv/num_3/campaign_master.csv")
    ## 두번째 반복: head -> class_master, tail -> .csv
    ##            f"{head}"->"class_master",globals()['class_master']
    ##             class_master=pd.read_csv('../../csv/num_3/class_master.csv') 
#df

../../csv/num_3\campaign_master.csv
../../csv/num_3 campaign_master.csv
campaign_master
../../csv/num_3\class_master.csv
../../csv/num_3 class_master.csv
class_master
../../csv/num_3\customer_master.csv
../../csv/num_3 customer_master.csv
customer_master
../../csv/num_3\use_log.csv
../../csv/num_3 use_log.csv
use_log

In [64]:
use_log

                 log_id customer_id     usedate
0       L00000049012330    AS009373  2018-04-01
1       L00000049012331    AS015315  2018-04-01
2       L00000049012332    AS040841  2018-04-01
3       L00000049012333    AS046594  2018-04-01
4       L00000049012334    AS073285  2018-04-01
...                 ...         ...         ...
197423  L00000049209753    TS977703  2019-03-31
197424  L00000049209754    TS979550  2019-03-31
197425  L00000049209755    TS995299  2019-03-31
197426  L00000049209756    TS995853  2019-03-31
197427  L00000049209757    TS999079  2019-03-31

[197428 rows x 3 columns]

In [66]:
campaign_master

  campaign_id campaign_name
0         CA1          2_일반
1         CA2     0_입회비반액할인
2         CA3       1_입회비무료

In [74]:
## 특정 경로에 있는 파일의 목목들을 각각 파일의 이름으로 전역변수를 생성하여 저장한느 함수 생성
## 매개변수 :경로
def data_load2(_path):
    # 입력받은 경로를 기준으로 파일의 목록을 모두 로드한다
    file_list=glob.glob(_path+"/*.*")
    #반복 실행 file_list를 이용하여
    for file in file_list:
        #경로와 파일명을 나눠준다. 
        folder, name = os.path.split(file)
        #파일명에서 이름과 확장자를 나눠준다.
        head, tail= os.path.splitext(name)
        #tail의 형태는?  ". 확장자"
        if tail =='.csv': 
            df = pd.read_csv(file)
        elif tail=='.json':
            df=pd.read_json(file)
        elif tail=='.xml':
            df=pd.read_xml(file)
        elif tail in ['xlsx','.xls']:
            df=pd.read_excel(file)
        else:
           print('지원하지 않는 확장자 파일')
           continue
        globals()[f"{head}"]=df.copy()
        print(f"{head}전역변수 저장 완료")
    return"파일의 목록 저장 완료"

In [75]:
data_load2("../../csv/num_3")

campaign_master전역변수 저장 완료
class_master전역변수 저장 완료
customer_master전역변수 저장 완료
use_log전역변수 저장 완료

'파일의 목록 저장 완료'

In [82]:
## 파일을 데이터프레임으로 로드하는 함수를 하나 생성
## 매개변수 1개: 상대경로 | 절대경로, encoding='utf-8'
def read_df(_path, _encoding='utf-8'):

    #입력받은 데이터에서 확장자를 분리해준다. 
    head, tail= os.path.splitext(_path)
    print(tail)
    if tail=='.csv':  
        df=pd.read_csv(_path, encoding=_encoding)
    elif tail=='.json':
        df=pd.read_json(_path, encoding=_encoding)
    elif tail=='.xml':
        df=pd.read_xml(_path, encoding=_encoding)
    elif tail in ['.xlsx', '.xls']:
        df=pd.read_excel(_path)
    else:
        df=pd.DataFrame()
    return df

In [83]:
read_df("../../csv/2014.csv", 'cp949')

.csv

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329

In [ ]:
#data