In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../csv/uriage.csv")

In [ ]:
df.head()

#### uriage 데이터에서 문제점 
1. item_name이 대/소문자 문제 
    - 모든 문자를 대문자(소문자) 변환
    - upper(), lower()
2. item_name에 공백 존재
    - 공백을 제거 
    - strip(), replace()

In [9]:
## item_name에 문자들을 모두 대문자로 변환
df['item_name'][2].upper()

'상 품 A'

In [10]:
df2 = df.copy()

In [14]:
## case1 (반복문을 이용)
df2.loc[2, 'item_name'] = \
      df2.loc[2, 'item_name'].upper()

In [17]:
for i in range(len(df2)):
    # i에 대입되는 데이터 -> df2의 인덱스 값
    # print(i)
    df2.loc[i, 'item_name'] = \
        df2.loc[i, 'item_name'].upper()

In [18]:
df2.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 A         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품A         NaN           김강현

In [22]:
# case2 ( map() -> 1차원 자료형 구조 데이터에서 
# 각 데이터들을 하나씩 추출하여 작업(함수) )

## Base(Python) : map( 함수 , 1차원 리스트명 ) 
_list = [1,2,3,4]
# map(), lambda 결합
list(
    map(
        lambda x : x + 1, 
        _list
    )
)
# map(), 일반 함수 결합
def change(x):
    return x + 2
list(
    map(
        change, 
        _list
    )
)

[3, 4, 5, 6]


##### lambda 함수
- 일반함수는 선언 -> 호출 2가지의 과정으로 나눠지는데 lambda 함수는 선언함과 동시에 호출
    - lambda 매개변수명 : 실행이 될 코드 
- 일반함수로 사용을 하기에는 너무 간단한 작업은 lambda로 생성