In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../../csv/uriage.csv")

In [ ]:
df.head()

#### uriage 데이터에서 문제점 
1. item_name이 대/소문자 문제 
    - 모든 문자를 대문자(소문자) 변환
    - upper(), lower()
2. item_name에 공백 존재
    - 공백을 제거 
    - strip(), replace()

In [ ]:
## item_name에 문자들을 모두 대문자로 변환
df['item_name'][2].upper()

In [ ]:
df2 = df.copy()

In [ ]:
## case1 (반복문을 이용)
df2.loc[2, 'item_name'] = \
      df2.loc[2, 'item_name'].upper()

In [ ]:
for i in range(len(df2)):
    # i에 대입되는 데이터 -> df2의 인덱스 값
    # print(i)
    df2.loc[i, 'item_name'] = \
        df2.loc[i, 'item_name'].upper()

In [ ]:
df2.head()

In [ ]:
# case2 ( map() -> 1차원 자료형 구조 데이터에서 
# 각 데이터들을 하나씩 추출하여 작업(함수) )

## Base(Python) : map( 함수 , 1차원 리스트명 ) 
_list = [1,2,3,4]
# map(), lambda 결합
list(
    map(
        lambda x : x + 1, 
        _list
    )
)       ## [2, 3, 4, 5] 결과값
# map(), 일반 함수 결합
def change(x):
    return x + 2
list(
    map(
        change, 
        _list
    )
)


##### lambda 함수
- 일반함수는 선언 -> 호출 2가지의 과정으로 나눠지는데 lambda 함수는 선언함과 동시에 호출
    - lambda 매개변수명 : 실행이 될 코드 
- 일반함수로 사용을 하기에는 너무 간단한 작업은 lambda로 생성

In [ ]:
## Series에 내장된 map() 함수
df3 = df.copy()

In [ ]:
# map + lambda 
df3['item_name'].map(
    lambda x : x.upper()
)

In [ ]:
# map + 일반함수 
def change2(x):
    result = x.upper()
    return result
df3['item_name'] = df3['item_name'].map(
    change2
)

In [ ]:
# strip() : 문자열의 시작과 끝부분을 제거하는 함수 
df2['item_name'][1].strip()

In [ ]:
# replace() 
df2['item_name'][1].replace(' ', '')

In [ ]:
# Series에 내장된 replace()함수는 각 데이터들을 기준으로 치환하는 함수
df2['item_name'].replace('상품A', 'A')

In [ ]:
## 반복문을 이용하여 Series 안에 데이터들의 공백을 제거 
for i in range(len(df2)):
    df2.loc[i, 'item_name'] = \
        df2.loc[i, 'item_name'].replace(' ', '')

In [ ]:
df2['item_name']

In [ ]:
## df3의 item_name 데이터를 map 함수를 이용하여 공백을 제거 
# map + lambda
df3['item_name'].map(
    lambda x : x.replace(" ", "")
)

In [ ]:
# map + 일반함수 
def change3(x):
    result = x.replace(" ", "")
    return result

df3['item_name'].map(
    change3
)

In [ ]:
# Series 데이터에서 문자열 함수를 호출
test = df['item_name'].str.upper()
test.str.replace(" ", "")

In [ ]:
df['item_name'] = \
      df['item_name'].str.upper().str.replace(" ", "")

In [ ]:
df.head()

- 결측치를 다른 값으로 대체 
    1. 상품명에 따라 상품 가격들이 고정 
    2. 결측치를 상품명에 맞춰서 해당 상품의 결측치가 아닌 상품 가격을 결측치에 대체

        - ex) 상품A 인 데이터 중 item_price가 결측치가 아닌 데이터의 평균 값을 구하고 해당 평균 값을 상품A인 데이터 중 item_price가 결측치인 부분에 대입

In [ ]:
## 상품A인 데이터만 출력 

## 인덱스의 조건식 ( item_name == '상품A' )
flag = df2['item_name'] == '상품A'
df2.loc[flag]

In [ ]:
import numpy as np

In [ ]:
## item_price가 결측치인 데이터만 출력

# 인덱스 조건식 ( item_price가 결측치인 )
# 결측치는 연산이 되지 않기때문에 비교연산자를 사용해도 False 출력
df2['item_price'] == np.nan
# 결측치의 유무를 판단하는 isna() 함수를 이용
flag_null = df2['item_price'].isna()

df2.loc[flag_null]

In [ ]:
## item_name이 상품A이고 item_price가 결측치인 데이터를 출력 
# 인덱스 조건식 : item_name == '상품A'(flag) 
#                 and item_price가 결측치인(flag_null)
df2.loc[
    flag & flag_null
]

In [ ]:
## item_name이 상품A이고 item_price가 결측치가 아닌 데이터를 출력 
# 인덱스 조건식 : item_name == '상품A' (flag)
#                   and item_price가 결측치가 아닌(flag_null의 부정)

# flag_null의 부정을 출력
# not(flag_null)
# -flag_null
~flag_null
# 비트연산자(~)
# 2진수로 이루어진 데이터에서 0과 1을 반대로 교체
# 인덱스의 조건식에 부정형 연산자로 사용이 가능
df2.loc[
    flag & ~flag_null
]

In [ ]:
## 상품A이고 가격이 결측치가 아닌 item_price의 평균을 구한다. 
mean_data = df2.loc[
    flag & ~flag_null, 'item_price'
].mean()
mean_data

In [ ]:
# mean_data를 상품A이고 가격이 결측치인 데이터에 결측치를 대체
# fillna()를 이용하여 결측치에 데이터를 대입
df2.loc[flag & flag_null].fillna(mean_data)
# Series 데이터에 특정 데이터를 대입 
df2.loc[flag & flag_null, 'item_price'] = mean_data

In [ ]:
df2.loc[flag & flag_null]

In [ ]:
# item_name데이터들의 고유한 값들을 출력

# 함수를 이용 -> 고유하다(unique)
df2['item_name'].unique()

In [ ]:
# 집합의 형태로 데이터를 변환
# {} -> dict  , set(집합)
list(set(df2['item_name']))

In [ ]:
# 빈도 수를 체크하는 함수 
# 값(value) + 갯수(count) - value_counts()
df2['item_name'].value_counts().index

In [ ]:
# item_name에 중복 데이터를 제거한 새로운 리스트를 출력 
# for문을 이용한다. 
name_list = list(df2['item_name'])

# 새로운 빈 리스트(result)를 생성
result = []
# item_name의 값들을 기준으로 반복문을 실행 (변수 i)
for i in name_list:
    # result에 i가 존재하지 않는가?
    # case1 ( 비교 연산자 -> 포함(in) 되어있지 않다(not). )
    # if i not in result :
    # case2 ( list의 내장함수를 이용 : count() )
    # count() : 리스트 안에 특정 데이터의 개수를 출력
    if result.count(i) == 0:
        # 존재하지 않는다면 result에 i를 추가 
        result.append(i)
# result를 출력
print(result)

In [ ]:
# case3 ( list 내장함수 중 index() )
# index() : 특정 데이터의 위치를 출력 -> 데이터가 존재하지않으면 에러 발생
result = []

for i in name_list:
    try:
        # 시도할 코드
        result.index(i)
    except:
        # try 구문을 코드가 에러가 발생한다면
        # 예외 처리 
        result.append(i)

result

In [ ]:
item_list = df2['item_name'].unique()

for item in item_list:
    # print(item)
    # item : item_list에 원소들이 하나씩 대입
    # item 변수를 이용하여 인덱스의 조건식 생성
    # 상품A부터 상품Z 까지의 조건식을 반복적으로 생성
    flag = df2['item_name'] == item
    # print(flag.head(3))
    # item_price가 결측치인 인덱스 조건식 
    flag_null = df2['item_price'].isna()

    # flag 조건식과 flag_null의 부정 조건식에 item_price의 평균
    mean_data = df2.loc[flag & ~flag_null, 'item_price'].mean()
    # mean_data을 flag조건식과 flag_null 조건식에 item_price 대입
    df2.loc[flag & flag_null, 'item_price'] = mean_data

In [ ]:
df2.isna().sum()

In [ ]:
df2[ ['item_name', 'item_price'] ].groupby(['item_name']).mean()

In [ ]:
## fillna()를 이용하여 결측치를 대체 
flag = df['item_name'] == '상품A'
test_df = df.loc[flag ]

In [ ]:
# test_df에 item_price를 기준으로 오름차순 정렬
test_df.sort_values(['item_price'], inplace=True)

In [ ]:
## test_df에서 item_price가 결측치인 데이터를 전의 데이터로 치환
test_df['item_price'] = test_df['item_price'].fillna(method='ffill')

In [ ]:
test_df.isna().sum()

In [ ]:
test_df['item_price'].mean()

In [ ]:
df[flag] = test_df

In [ ]:
item_list = df['item_name'].unique()

for item in item_list:
    flag = df['item_name'] == item
    test_df = df.loc[flag]
    test_df.sort_values(['item_price'], inplace=True)
    test_df['item_price'] = \
        test_df['item_price'].fillna(method = 'ffill')
    df.loc[flag ] = test_df

In [ ]:
df.isna().sum()

In [ ]:
df[['item_name', 'item_price']].groupby(['item_name']).mean()