In [9]:
# 라이브러리 로드
#import datetime.datetime 
from datetime import datetime

In [10]:
time_data="2024-03-26 09:45:00"
print(type(time_data))

<class 'str'>

In [11]:
# 문자열 데이터를 시계열 데이터로 변환
time= datetime.strptime(
    time_data,
    "%Y-%m-%d %H:%M:%S"
)
print(time)

2024-03-26 09:45:00

In [12]:
print(type(time))

<class 'datetime.datetime'>

In [25]:
time_data2="2024년03월"
time2= datetime.strptime(
    time_data2, 
    "%Y년%m월"
)
print(time2)

2024-03-01 00:00:00

In [21]:
## 시계열 데이터를 문자열 데이터로 변환
time.strftime('%Y년%m월')

'2024년03월'

In [27]:
time2.strftime("%A")

'Friday'

#### datetime에서 사용되는 format 
- %Y: 년도 전체를 표기 ('2024')
- %y: 년도를 축약해서 표기 ('24')
- %m: 월을 숫자로 표기 ('01')
- %b: 축약된 월의 이름 ('Mar')
- %B: 월의 이름 ('March')
- %d: 일을 숫자로 표기 ('26')
- %H: 24시를 기준으로 표기 ('20')
- %I: 12시를 기준으로 표기 ('08')
- %M: 분을 표기
- %S: 초를 표기
- %p: AM/PM 표기
- %a: 요일의 이름을 축약해서 표기 ('Fri') 
- %A: 요일의 이름을 표기 ('Friday')
- %w: 요일을 숫자로 표기 (0:일, 1:월, ... 6:토)

In [28]:
import pandas as pd

In [30]:
pd. Timedelta(days=1)

Timedelta('1 days 00:00:00')

In [32]:
pd.Timestamp(year=2024, month=3, day=26)

Timestamp('2024-03-26 00:00:00')

In [33]:
#문자열을 시계열 변경
time_data3 = "2024-03-26"
pd.to_datetime(time_data3)

Timestamp('2024-03-26 00:00:00')

In [36]:
time_data4= '2024년3월'
pd.to_datetime(time_data4, format="%Y년%m월")

Timestamp('2024-03-01 00:00:00')

In [38]:
time_data5= "16:30:00 30-11-24"
pd.to_datetime(time_data5)

Timestamp('2024-11-30 16:30:00')